---
interface Props {
  title: string;
  contents: Post[];
}
type Post = {
  title: string;
  content: string;
  href: string;
};
import Card from "../Card.astro";
const { title, contents } = Astro.props;
---

<div class="flex w-full dark:text-white pl-12 pr-6 ">
  <div class="grid grid-cols-3 gap-4 w-full mt-12">
    {
      contents.map((element) => (
        <Card
          title={element.title}
          body={element.content}
          href={element.href}
        />
      ))
    }
  </div>
  <div class="w-[10%] flex flex-col justify-end">
    <h3 class="transform -rotate-90 text-[5vw] whitespace-nowrap">{title}</h3>
  </div>
</div>
