---
import Left from "../../components/foto/Left.astro";
import PagesLayout from "../../layouts/PagesLayout.astro";
import FotoArray from "../../components/foto/FotoArray.astro";
import Marquee from "../../components/foto/Marquee.astro";
import CardFooter from "../../components/foto/CardFooter.astro";
---

<PagesLayout title="Jramma">
  <main class="text-white scrollbar-hide">
    <div class="z-50 text-right absolute top-8 right-16">
      <p>buscar</p>
      <p>menu</p>
    </div>
    <div class="flex">
      <Left />
      <FotoArray />
    </div>
    <Marquee/>
    <div class="flex justify-center pb-12">
      <CardFooter />
      <CardFooter />
      <CardFooter />
    </div>
  </main>
</PagesLayout>
