---
import Layout from "../../layouts/Layout.astro";
import { Image } from "astro:assets";
import img1 from "../../assets/images/horizonte/img-1.jpg";
const foto = "img1"
---

<Layout title="Jramma">
  <main class="text-white h-screen">
    <div class="flex gap-2 m-2 overflow-hidden">
      {
        Array.from({ length: 12 }, (_, i) => (
          <a href={`/imatge/${foto}/`}>
          <div
            class="m-2 transform transition-all duration-500 hover:scale-110 cursor-pointer "
          >
            <Image src={img1} alt={`foto ${i + 1}`} />
            <p>{i}</p>
          </div></a>
        ))
      }
    </div>
    <div class="mt-[16vh] ml-4">
      <h3>Autor:</h3>
      <p class="ml-8">Pepe Ramos (jo 😎)</p>
      <h3>Dada</h3>
      <p class="ml-8">2024</p>
    </div>
    <div class="absolute bottom-0  pl-4 pb-4">
      <div class="flex flex-grow justify-between">
        <p>(01'23)</p>
        <div class="flex gap-8">
          <a class="z-30 " href="/"> Més galerías </a>
          <p>(100)</p>
        </div>
      </div>
      <div class="w-full flex items-center justify-center">
        <h1 class="text-[22vw] m-0 p-0" style="line-height: 0.8;">HORITZO</h1>
      </div>
    </div>
  </main>
</Layout>
