---
import { Icon } from "astro-icon/components";
import StaticPage from "../../layouts/StaticPage.astro";
---

<StaticPage title="Jramma">
  <main class="h-[75%]">
    <div class="absolute right-8 top-8 flex gap-12">
      <a href="https://www.instagram.com/jramma1/">
        <Icon class="h-12 w-12" name="insta" />
      </a>
      <a href="https://t.me/jramma">
        <Icon class="h-12 w-12" name="telegram" />
      </a>
      <a href="https://www.linkedin.com/in/jramma/">
        <Icon class="h-12 w-12" name="linkedin" />
      </a>
    </div>
  </main>
</StaticPage>

<style>
  main {
    margin: auto;
    padding: 1rem;
    width: 800px;
    max-width: calc(100% - 2rem);
    color: white;
    font-size: 20px;
    line-height: 1.6;
  }
</style>
