---
import DefaultLayout from "../layouts/Layout.astro";
---

<DefaultLayout title="404">
  <div class="text-white p-24">
    <section class="my-12">
      <div class="container">
        <h1 class="text-8xl">404</h1>
      </div>
    </section>
    <section class="my-12">
      <div class="">
        <p class="mb-12">
          This page does not exist. Don't worry though, we got you.
        </p>
        <a class="ml-4 bg-purple-400 p-4 rounded-xl" href="/"
          >Let's get you home Astronout 🚀</a
        >
      </div>
    </section>
  </div>
  <footer>
    <div class="container">
      <p class="text-center text-white">Made with ❤️ by <a href="https://github.com/jramma" class="text-purple-200">jramma</a></p>
    </div>
  </footer>
</DefaultLayout>
