---
import Layout from "../layouts/Layout.astro";
import Title from "../components/home/Title.astro";
import { fade } from 'astro:transitions';

---

<Layout title="Jramma">
  <main class="text-white h-screen">
    <div class="h-[50%] flex flex-col justify-end mb-0">
      <div class="flex justify-center items-center mb-12">
        <Title title="jramma">
      </div>
      <ul class="flex gap-12 w-full justify-center items-center mb-4">
        <li transition:animate={fade({ duration: '0.2s' })}>
          <a href="/projects">Projectes</a>
        </li><li transition:animate={fade({ duration: '0.5s' })}>
          <a href="/galeria">Fotografia</a>
        </li><li transition:animate={fade({ duration: '1s' })}>
          <a href="/contact">Contacte</a>
        </li>
      </ul>
    </div>
    <!-- <div class="w-full h-1 bg-white"></div> -->
    <div class="h-[50%]">
      <div class="flex flex-col justify-center items-center mt-8">
        <div class="max-w-2xl"  transition:animate={fade({ duration: '1.5s' })}>
          <p class="max-w-xl text-center">
            el sentit es "aclareix" només per mitjà d'una interpretació de
            l'horitzó i dels horitzons constantment conjurats de nou. La
            predeterminació mateixa és, sens dubte, imperfecta en tot moment,
            però en la seva indeterminació d'una estructura determinada
          </p>
          <div class="w-full flex justify-end items-end">
            <p>Edmund Husserl</p>
          </div>
        </div>
      </div>
    </div>
  </main>
  <footer>
    <div class="text-white flex justify-center items-center h-16">
      <p>© 2024 Jramma</p>
    </div>
  </footer>
</Layout>

<style>
  a {
    position: relative;
    text-decoration: none;
    overflow: hidden;
  }

  a::after {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    bottom: -2px;
    left: 0;
    background-color: #fff;
    transition: width 0.4s;
  }

  a:hover::after {
    width: 100%;
  }
</style>
