---
import Layout from "../layouts/Layout.astro";
import Title from "../components/home/Title.astro";
import { fade } from 'astro:transitions';
import Theme from "../components/Theme.astro"
import Enllac from "../components/Enllac.astro";
---

<Layout title="Jramma">
  <main class="dark:text-white h-screen mb-2">
    <div class="absolute top-1/2 left-0 w-full h-px bg-black dark:bg-white"></div>
    <div class="absolute right-8 top-8">
      <Theme />
    </div>
    <div class="h-[50%] flex flex-col justify-end mb-0">
      <div class="flex justify-center items-center sm:mb-12 mb-2">
        <Title title="jramma">
      </div>
      <ul class="flex flex-col sm:flex-row gap-2 sm:gap-12 w-full justify-center items-center mb-8 sm:mb-4">
        <li transition:animate={fade({ duration: '0.5s' })}>
          <Enllac nom="Projectes" href="#"/>
        </li>
        <li transition:animate={fade({ duration: '0.1s' })}>
          <Enllac nom="Fotografia" href="/galeries"/>
        </li>
        <li transition:animate={fade({ duration: '0.4s' })}>
          <Enllac nom="Contacte" href="/contact"/>
        </li>
      </ul>
    </div>
    <div class="h-[50%]">
      <div class="flex flex-col justify-center items-center mt-8">
        <div class="max-w-2xl p-8"  transition:animate={fade({ duration: '0.6s' })}>
          <p class="max-w-xl text-center">
            ..el sentit es "aclareix" només per mitjà d'una interpretació de
            l'horitzó <span class="hidden md:block">i dels horitzons constantment conjurats de nou. La
            predeterminació mateixa és, sens dubte, imperfecta en tot moment,
            però en la seva indeterminació d'una estructura determinada...</span>
          </p>
          <div class="w-full flex justify-end items-end p-8">
            <p>Edmund Husserl</p>
          </div>
        </div>
      </div>
    </div>
    <div class="absolute bottom-0 right-8">
      <p>© 2024 <a href="https://github.com/jramma" class="transition-colors duration-500 ease-in-out hover:text-purple-400">Jramma</a></p>    </div>
  </main>
</Layout>


