---
interface Props {
  title: string;
}
import { fade } from 'astro:transitions';
const { title } = Astro.props;
---

<div transition:animate={fade({ duration: '2s' })}> 
  <h1 class="dark:text-white" id="myElement" >{title}</h1>
</div>
<style>
  h1 {
    font-family: "Inter Tight", sans-serif;
    font-style: normal;
    font-weight: 800;
    letter-spacing: -2px;
    line-height: 18vh;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14vw;
  }
</style>
