---
import type { Code } from "astro:components";
import "../../assets/scss/canvas.scss";
---

<div class="waves"></div>
<script >
  
</script>
<style>
  html,
  body {
    height: 100%;
  }
  body {
    margin: 0;
  }
  canvas {
    display: block;
  }
  .waves {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
  }
</style>
