---
import SectionProjects from "../../components/projects/SectionProjects.astro";
import SectionProjectsOposite from "../../components/projects/SectionProjectsOposite.astro";
import master from "../../data/master.json";
import hackathon from "../../data/hackathon.json";
import publics from "../../data/public.json";
import { fade, slide } from "astro:transitions";
import Layout from "../../layouts/Layout.astro";
import { Icon } from "astro-icon/components";
import Theme from "../../components/Theme.astro";
---

<Layout title="Jramma">
  <header
    class="fixed flex p-8 pb-4 justify-between items-center dark:bg-black bg-white w-full z-50 shadow-md"
  >
    <a href="/"><h1 class="dark:text-white text-4xl">@Jramma</h1></a>
    <div class="dark:text-white flex gap-8">
      <a href="https://github.com/jramma"><Icon name="git" class="w-7 h-7" /></a
      >
      <Theme />
    </div>
  </header>
  <main class="w-full dark:text-white mb-22 pt-12">
    <div
      transition:animate={slide({ duration: "1s" })}
      class="mt-12 border-t-2 border-b-2 border-black dark:border-white w-2/3 absolute right-0 overflow-hidden"
    >
      <p class="marquee">
        Desenvolupador de programari / Projectes públics al github / UX i UI /
        Màster diseny web i aplicacions / Hackathons / Projectes públics al
        <a
          class="underline-offset-1 hover:text-purple-400 cursor-pointer"
          href="https://github.com/jramma"
        >
          github</a
        >
      </p>
    </div>
    <div class="flex flex-col justify-center items-center pt-20">
      <h2 class="text-[20vw]" transition:animate={fade({ duration: "0.5s" })}>
        FURONER
      </h2>
      <div class="w-full h-px bg-black dark:bg-white">
        <div
          transition:animate={slide({ duration: "2s" })}
          class="flex w-full justify-end"
        >
          <a class="justify-between flex mt-2 mr-6" href="/"
            ><Icon class="mr-2 mt-[0.6vh]" name={"arrow"} /><p>
              Tornar al inici
            </p></a
          >
        </div>
      </div>
    </div>
    <div
      class="mb-40 mt-32 flex flex-col gap-y-20"
      transition:animate={slide({ duration: "1s" })}
    >
      <SectionProjects title="PROJECTES MASTER" contents={master} />
      <div class="w-full h-px bg-black dark:bg-white mt-2 mb-2"></div>

      <SectionProjectsOposite title="PROJECTES PÚBLICS" contents={publics} />
      <div class="w-full h-px bg-black dark:bg-white mt-2 mb-2"></div>

      <SectionProjects title="PROJECTES HACKATONS" contents={hackathon} />
    </div>
  </main>
</Layout>

<style>
  .astro-a {
    position: absolute;
    top: -32px;
    left: 50%;
    transform: translatex(-50%);
    width: 220px;
    height: auto;
    z-index: -1;
  }
  .marquee {
    z-index: 200;
    white-space: nowrap; /* Para que el texto no se divida en múltiples líneas */
    overflow: hidden; /* Oculta el contenido que se desborda */
    position: relative;
    padding: 10px;
    display: inline-block;
    padding-left: 100%;
    animation: marquee 40s linear infinite;
  }
  @keyframes marquee {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
  }
</style>
