---
interface Props {
  imatges: string[];
}
const { imatges } = Astro.props;
import "swiper/css";
---

<section>
  <div class="swiper-container">
    <div class="swiper main">
      <div class="swiper-wrapper">
        {
          imatges.map((img: string) => {
            // Extrae el nombre de la imagen de la ruta
            const nom = img.split("/")[2].split(".")[0];
            return (
              <div class="swiper-slide scroll-y-hidden inline-block m-2 transform transition-all duration-500 hover:scale-110 cursor-pointer">
                <a href={`/imatge/${nom}/`}>
                  <img src={img} class="max-h-[25vh]" alt={nom} />{" "}
                </a>
              </div>
            );
          })
        }
      </div>
    </div>
    <div class="swiper thumbs">
      <div class="swiper-wrapper">
        {imatges.map(() => <div class="swiper-slide"></div>)}
      </div>
    </div>
   
  </div>
</section>
<style>
  .swiper-container {
    position: relative;
    height: 600px;
  }
  .swiper.main {
    margin-top: 0.5rem;
    width: 99%;
    height: 40%;
  }
  .swiper.thumbs {
    width: 10%;
    height: 10px;
    box-sizing: border-box;
  }
  .swiper-slide {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
   
  }
  .thumbs .swiper-slide {
    width: 25%;
    height: 50%;
    opacity: 0.4;
    background-color: white;
  }

  .thumbs .swiper-slide-thumb-active {
    opacity: 1;
  }

  

  main {
    margin: auto;
    padding: 1.5rem;
    max-width: 60ch;
  }
  h1 {
    font-size: 3rem;
    font-weight: 800;
    margin: 0;
  }
  .text-gradient {
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
  }
  .instructions {
    line-height: 1.6;
    margin: 1rem 0;
    border: 1px solid rgba(var(--accent), 25%);
    background-color: white;
    padding: 1px;
    border-radius: 0.4rem;
  }
  .prev {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
  }
  .next {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
  }
</style>
<script src="../../libs/slider_thumbnail.js"></script>

<!-- https://github.com/MicroWebStacks/astro-examples/tree/main/54_swiper-slider -->
