@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer base {
  :root {
    --color-text-main: 0 0 0; /* #000000 */
    --color-bg-main: 245 245 245; /* #FFFFFF */
    --color-bg-muted: 245 245 245; /* #FFFFFF */
    --color-border-main: 0 0 0; /* #000000 */
  }
  html.dark {
    --color-text-main: 245 245 245; /* #FFFFFF */
    --color-bg-main: 0 0 0; /* #000000 */
    --color-bg-muted: 0 0 0; /* #000000 */
    --color-border-main: 245 245 245; /* #FFFFFF */
  }
}
@layer components {
  .link {
    @apply relative overflow-hidden no-underline;
  }
  .link::after {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    bottom: -2px;
    left: 0;
    background-color: #fff;
    transition: width 0.4s;
  }
  .link:hover::after {
    width: 100%;
  }
}