---
interface Props {
  title: string;
}
import { ViewTransitions } from "astro:transitions";
const { title } = Astro.props;
import { Icon } from "astro-icon/components";
---

<!doctype html>
<html lang="cat">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap"
      rel="stylesheet"
    />
    <ViewTransitions />
    <script>
      if (localStorage.theme === "dark") {
        document.documentElement.classList.add("dark");
      }
    </script>
  </head>
  <body class="dark:bg-black">
    <slot />
    <footer
      class="dark:text-white border-t dark:border-white border-black flex flex-col sm:flex-row justify-center items-center text-center sm:text-left sm:justify-between pl-8 pr-8 pt-8 pb-12"
    >
      <div>
        <p>Made with ❤️ by Jramma</p>
        <p class="mt-2">📍 Barcelona, Catalunya</p>
        <p class="mt-8">Software dev, skipper & philosopher.</p>
      </div>
      <!-- <div class="text-white text-right">
        <p>Improved with ❤️ by Mortensen </p>
        <p class="mt-2">Torres i Amat 21, 3r<br>08001 Barcelona</p>
      </div> -->
      <div class="text-right flex gap-8 justify-center sm:justify-end mt-8 sm:mt-0">
        <a href="https://www.instagram.com/jramma1/">
          <Icon class="h-6 w-6" name="insta" />
        </a>
        <a href="https://t.me/jramma">
          <Icon class="h-6 w-6" name="telegram" />
        </a>
        <a href="https://www.linkedin.com/in/jramma/">
          <Icon class="h-6 w-6" name="linkedin" />
        </a>
      </div>
    </footer>
    <style is:global>
      :root {
        --accent: 136, 58, 234;
        --accent-light: 224, 204, 250;
        --accent-dark: 49, 10, 101;
        --accent-gradient: linear-gradient(
          45deg,
          rgb(var(--accent)),
          rgb(var(--accent-light)) 30%,
          white 60%
        );
        --font-family: "Roboto Mono", monospace;
      }

      body {
        font-family: var(--font-family);
      }
      html {
        font-family: var(--font-family);

        background-size: 224px;
      }
      a {
        position: relative;
        text-decoration: none;
        overflow: hidden;
      }

      a::after {
        content: "";
        position: absolute;
        width: 0;
        height: 2px;
        bottom: -2px;
        left: 0;
        background-color: #fff;
        transition: width 0.4s;
      }

      a:hover::after {
        width: 100%;
      }
    </style>
  </body>
</html>
