---
interface Props {
  title: string;
}
const { title } = Astro.props;
import Layout from "./Layout.astro";
---

<Layout title="Jramma">
  <header>
    <a
      transition:animate="slide"
      class="z-50 text-left text-4xl dark:text-white absolute top-8 left-8 hover-effect"
      href="/"
    >
      @{title.toUpperCase()}
    </a>
  </header>
  <slot />
</Layout>
